/* variables de color */
:root {
  --primary-color: rgb(0, 59, 74);
  --dark-bkg-text-color: white;
  --accent-color: rgb(191, 12, 240);
  --light-accent-color: rgb(229, 225, 254);
  --background-color: rgb(247, 247, 247);
  --grey-text-color: rgb(158, 157, 171);
}

/****************************
 * Estilos generales
 ****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, "Noto Serif";
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--background-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--accent-color);
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-family: "Noto Serif";
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Noto Serif";
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  font-family: "Noto Serif";
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

abbr {
  text-decoration: none;
}

figcaption {
  padding: 10px 15px 10px 15px;
}

section {
  padding-bottom: 20px;
}

blockquote {
  margin: 10px 0;
}

article {
  background-color: white;
  border: 1px solid var(--light-accent-color);
}

p {
  padding-bottom: 10px;
}

img.img-fluid {
  width: 100%;
  height: auto;
}

iframe.video-fluid {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  .container {
    width: 95%;
  }
}

/****************************
 * Header
 ****************************/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
}

.logo {
  padding: 10px;
}

header a {
  border: none;
}

/****************************
 * Menú de navegación
 *****************************/
nav {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  padding-left: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

header nav ul li::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

header nav ul li:last-child::after {
  content: none;
}

header nav ul li a {
  color: inherit;
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--accent-color);
}

/*************************
 * Footer
 **************************/
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  border: none;
}

footer ul {
  color: white;
  text-transform: none;
}

footer .social-links ul li {
  display: inline-block;
}

footer .legal-links ul li {
  display: flex;
  flex-direction: column;
}

.social-links {
  text-align: center;
  padding-top: 15px;
}

.social-links a:hover {
  opacity: 70%;
}

.legal-links li {
  padding-bottom: 8px;
}

footer a:hover {
  color: var(--light-accent-color);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  footer ul {
    display: inline-block;
  }

  footer .legal-links ul li {
    display: inline-block;
  }

  footer .legal-links li::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
  }

  footer .legal-links ul li:last-child::after {
    content: none;
  }

  .footer-left {
    text-align: left;
  }

  .social-links {
    text-align: right;
  }
}

/*************************
 * Main
 *************************/

/****************************
 * Página de inicio
 ****************************/
main.home {
  padding: 0;
}

.moto {
  display: flex;
  align-items: center;
  background-image: url(../img/hero-image-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
}

.moto h1 {
  font-family: Lato;
  font-weight: 900;
}

.subscription .container {
  display: flex;
  flex-direction: column;
}

.subscription .title {
  margin-right: auto;
}

.home .articles {
  background-color: var(--light-accent-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.home article {
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home figure figcaption {
  color: var(--primary-color);
  text-align: right;
  font-size: 0.8rem;
  padding-top: 0;
  padding-right: 0;
}

.legal-info {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

form {
  width: 80%;
  margin-right: auto;
}

form ul {
  list-style-type: none;
}

form li {
  display: list-item;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: inline-block;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--grey-text-color);
  border-radius: 5px;
  margin-bottom: 15px;
}

.button {
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.button:hover {
  color: white;
  background-color: var(--accent-color);
}

.description {
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .home .articles figure {
    max-width: 200px;
  }

  .home .articles article {
    display: flex;
    column-gap: 40px;
    align-items: center;
  }

  .home .articles article:nth-child(even) {
    flex-direction: row-reverse;
  }

  .home .articles article:nth-child(odd) figure {
    transform: rotate(-5deg);
  }
  .home .articles article:nth-child(even) figure {
    transform: rotate(5deg);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .home .container {
    width: 60%;
  }

  .moto .home-title {
    width: 540px;
    margin-right: auto;
  }

  .two-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .item {
    flex: 1;
  }

  form {
    width: 100%;
    margin-right: auto;
  }
}

/***************************
 * Blog
 ***************************/
.blog h2 a,
.recent h3 a {
  color: var(--primary-color);
  border: none;
}

.blog h2 a:hover,
.recent h3 a:hover {
  color: var(--accent-color);
}

.blog p {
  margin-bottom: 10px;
}

.post-info {
  padding: 15px;
}

figure {
  position: relative;
}

figcaption .caption {
  display: block;
  color: var(--grey-text-color);
  text-align: left;
  font-size: 0.75rem;
}

figure .category {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--primary-color);
  padding: 10px;
}

figure .category a {
  color: white;
  border: none;
}

figure .category a:hover {
  color: var(--accent-color);
}

.blog figure .copyright {
  position: absolute;
  bottom: 50px;
  right: 10px;
  background-color: white;
  opacity: 0.7;
  padding: 5px;
  font-size: 0.8rem;
}

.pagination {
  width: 140px;
  margin: 0 auto;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
  list-style: none;
}

.pagination li.active a {
  color: white;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.pagination li a {
  background-color: white;
  color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.pagination li a:hover {
  background-color: var(--accent-color);
  color: white;
}

.pagination li.active {
  color: white;
  background-color: var(--accent-color);
  border: none;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .blog {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog article:first-child {
    grid-column: span 2;
  }
}

/****************************
 * Entrada
 *****************************/
.breadcrumbs {
  padding: 10px;
  text-align: left;
}

.breadcrumbs li {
  text-transform: none;
  font-weight: normal;
}

.breadcrumbs .active {
  font-weight: bold;
}

.breadcrumbs a {
  color: var(--primary-color);
  border: none;
}

.breadcrumbs a:hover {
  color: var(--accent-color);
}

.breadcrumbs li::after {
  content: ">";
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.entries p {
  margin: 10px 0;
}

.entries article {
  border: none;
}

.entry li {
  margin-bottom:10px;
}

article.post {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

article.post figure {
  background-color: var(--light-accent-color);
  margin-bottom: 20px;
}

article.post figcaption {
  padding: 10px;
  text-align: left;
}

article.post figcaption h1 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

article.post .caption-category {
  color: var(--primary-color);
}

article.post ol,
article.post ul {
  margin-left: 10px;
  padding: 10px;
}

article.post blockquote {
  margin-left: 20px;
  border-left: 2px solid var(--accent-color);
  padding-left: 10px;
  font-size: 1.2rem;
}

article.post cite {
  display: block;
  padding-top: 10px;
  font-size: 0.9rem;
  font-style: italic;
}

aside .categories ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
}

aside .categories li a {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 5px;
  display: inline-block;
  color: var(--primary-color);
}

aside .categories li a:hover {
  background-color: var(--accent-color);
  color: white;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  aside .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .entries.container {
    width: 70%;
  }

  .entry {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
  }

  aside .articles {
    display: flex;
    flex-direction: column;
  }
}

/****************************
 * Vídeos
 *****************************/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/****************************
 * Common
 ****************************/
.italic {
  font-style: italic;
}
