/* variables de color */
:root {
  --primary-color: rgb(0, 59, 74);
  --dark-bkg-text-color: white;
  --accent-color: rgb(191, 12, 240);
  --light-accent-color: rgb(229, 225, 254);
  --background-color: rgb(247, 247, 247);
  --grey-text-color: rgb(158, 157, 171);
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/****************************
Estilos generales
*****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, "Noto Serif";
}

body {
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--background-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--accent-color);
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-family: 'Noto Serif';
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Noto Serif';
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}

/****************************
Header
*****************************/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
}

.logo {
  padding: 10px;
}

header a {
  border: none;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

/****************************
Menú de navegación
*****************************/
nav {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  padding-left: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
}

header nav ul li::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

header nav ul li:last-child::after {
  content: none;
}

nav ul li a {
  color: inherit;
}

nav ul li a:hover {
  color: var(--accent-color);
}

/*************************
Footer
**************************/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 30px 40px;
  color: white;
}

ul li {
  display: inline-block;
}

footer nav {
  color: white;
  text-transform: none;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-left {
  text-align: center;
}

.social-links {
  text-align: center;
  padding-top: 15px;
  padding-right: 5px;
}

.social-links a:hover {
  opacity: 70%;
}

.legal-links li {
  padding-bottom: 8px;
}

.legal-links a:hover {
  color: var(--light-accent-color);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  footer {
    flex-direction: row;
  }

  footer nav ul {
    display: flex;
    flex-direction: row;
  }

  footer nav ul li::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
  }

  footer nav ul li:last-child::after {
    content: none;
  }

  .footer-left {
    text-align: left;
  }

  .social-links {
    text-align: right;
  }
}

/*************************
Main
**************************/

/****************************
Página de inicio
*****************************/
section.moto {
  background-image: url(../img/hero-image-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20px;
  text-align: center;
  height: 300px;
  width: 100%;
}

section.moto {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 20px;
  text-align: left;
}

section.articles {
  background-color: var(--light-accent-color);
}

section.articles article {
  margin-top: 20px;
  margin-bottom: 20px;
}

figure figcaption {
  text-align: right;
  font-size: 0.8rem;
}

.legal-info {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

form {
  width: 80%;
  margin-right: auto;
}

form ul {
  list-style-type: none;
}

form li {
  display: list-item;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: inline-block;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.button {
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.button:hover {
  color: white;
  background-color: var(--accent-color);
}

.description {
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  section.articles figure {
    max-width: 200px;

  }

  section.articles article {
    display:flex;
    column-gap: 40px;
    align-items: center;
  }

  section.articles article:nth-child(even) {
    flex-direction: row-reverse;
  }

  section.articles article:nth-child(odd) figure {
    transform: rotate(-5deg);
  }
  section.articles article:nth-child(even) figure {
    order: -1;
    transform: rotate(5deg);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .two-cols {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .col {
    flex:1;
  }

  .container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 100%;
    margin-right: auto;
  }
}

/***************************
Blog
***************************/

/****************************
Vídeos
*****************************/

/****************************
 * Common
 ****************************/
.italic {
  font-style: italic;
}
